@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

* {

    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;

}

body {

    position: relative;

}

/*----NavigationBar----*/
#nav-bar {

    position: staticky;
    top: 0;
    z-index: 10;

}

.navbar-brand b {

    padding-left: 20px;

}

.navbar-nav li {

    padding: 0 10px;

}

.navbar-nav li a {

    float: right;
    text-align: left;

}

#nav-bar ul li a:hover {

    color: #007bff!important;

}

.navbar-toggler {

    border: none!important;

}

.nav-link {

    color: white!important;
    font-weight: 600;
    font-size: 16px;

}


.intro {

    background: linear-gradient(135deg, transparent 20px, rgb(27, 46, 46) 20px);
    
}

/*.intro img {
    content: url("../img/BRI.png");
}*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 5%;
    padding-top:1em;
    padding-bottom:1em;
}

.zoomOne {
  transition: content 0.ss; /* Animation */
}

.zoomOne:hover {
    content:  url("../img/centralAsiaZoomIn.png");
}

.zoomTwo {
  transition: content 0.ss; /* Animation */
}

.zoomTwo:hover {
    content:  url("../img/pakistanZoomIn.png");
}

.zoomThree {
    transition: content 0.ss; /* Animation */
}
  
.zoomThree:hover {
    content:  url("../img/kashgarZoomIn.png");
}

.zoomFour {
    transition: content 0.ss; /* Animation */
}
  
.zoomFour:hover {
    content:  url("../img/pamirMountains.png");
}